@font-face {
    font-family: mySecondFont;
    src: url('../../fonts/Valeriame1.ttf');
}

.mainHeader{
    /* background: #1569C7; */
    background-color: rgb(70,130,180);
    top: 0;
    padding: 20px 0px 20px 60px;
    color: aliceblue;
    font-size: 20px;
}

.headerName{
    font-family: 'mySecondFont';
}